#output {
    width: 400px;
    height: 300px;
    overflow: scroll;
    border: 1px solid #444444;
    font-size: 16px;
    font-family: sans-serif;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 5px #000000;
    margin-bottom: 10px;
}

div.message {
    padding:3px;
}

div.message:nth-child(even){
    background-color: #eaeaea;
}
input {
    display: block;
    margin: auto;
    padding: 5px;
    border: 1px solid #000000;
}